fieldset {
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
}

label {
  width: 100px;
}

input[type="text"],
select {
  width: 300px;
}

#miniCurriculo {
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
}

